body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    overflow: hidden;
}

.background {
    background-color: #121212;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    max-width: 300px;
    margin: auto;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #bb86fc;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    background-color: #424242;
    color: #ffffff;
    border: none;
    border-radius: 4px;
}

button {
    background-color: #03a9f4;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0288d1;
}

.moving-object {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #03a9f4;
    filter: blur(20px);
    border-radius: 50%;
    animation: moveObject 10s infinite alternate ease-in-out;
}

@keyframes moveObject {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(500px, 500px);
    }
}
